---
title: V_ Innovation
layout: default
---
<section class="intro">
  <h2>Innovation Starts With Experimentation</h2>
  <p>Now, more than ever, is the time to start experimenting and using our imagination as guidance. The world is constantly evolving, and new possibilities arise endlessly to those who look for them. On this site you'll find all of the sketches, design ideas, proof of concepts, and working experiments we are exploring.</p>
</section>

<div class="grid">
  <div class="grid-col grid-col--1"></div>
  <div class="grid-col grid-col--2"></div>
  <div class="grid-col grid-col--3"></div>
  <div class="grid-col grid-col--4"></div>

  {% assign prototypes = site.prototypes | sort: 'featured' | reverse %}
  {% for prototype in prototypes %}
    <a class="grid-item" href="{{ prototype.url }}">
      <span class="sr-only">{{ prototype.title }}</span>
      {% if prototype.demo and prototype.screenshot %}
        <video muted loop playsinline poster="{{ prototype.screenshot }}" src="{{ prototype.demo }}"></video>
      {% elsif prototype.screenshot %}
        <img src="{{ prototype.screenshot }}" alt="{{ prototype.title }} prototype">
      {% else %}
        <h2>{{ prototype.title }}</h2>
      {% endif %}
      <div class="overlay">
        <h2>{{ prototype.title }}</h2>
        <p>{{ prototype.description }}</p>
      </div>
    </a>
  {% endfor %}
</div>
