---
title: V_ Engineering
layout: default
---
<section class="intro">
  <h2>Innovation Starts With Experimentation</h2>
  <p>Now, more than ever, is the time to start using our imagination as a guideline. The world is constantly evolving, and new possibilities arise endlessly to those who look for them. On this site you'll find all of the sketches, design ideas, proof of concepts, and working experiments we are exploring.</p>
</section>

<div class="masonry-with-columns">
  {% assign prototypes = site.prototypes | sort: 'featured' | reverse %}
  {% for prototype in prototypes %}
    <a href="{{ prototype.url }}">
      {% if prototype.screenshot %}
        <img src="{{ prototype.screenshot }}">
      {% else %}
        <h2>{{ prototype.title }}</h2>
      {% endif %}
      <div class="overlay">
        <h2>{{ prototype.title }}</h2>
        <p>{{ prototype.description }}</p>
      </div>
    </a>
  {% endfor %}
  </div>
