footer {
  background-color: black;
  color: white;
  padding: 40px 70px;

  @media (min-width: $md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
  }

  h2 {
    margin-top: 0;
  }

  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 4em;

    @media (min-width: $md) {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 0.5em;
    }
  }

  .first {
    #desktop-logo {
      display: none;

      @media (min-width: $md) {
        display: block;
        margin-bottom: 1.5em;
      }
    }
  }

  .second {
    @media (min-width: $md) {
      text-align: right;
    }

    h2 {
      line-height: 1.3;
      text-decoration: underline;
      max-width: 260px;

      @media (min-width: $md) {
        max-width: 400px;
      }
    }

    #mobile-logo {
      margin-top: 3em;

      @media (min-width: $md) {
        display: none;
      }
    }
  }
}
