---
layout: default
---

<div class="prototype">
  <h2>{{ page.title }}</h2>
  <p>{{ page.description }}</p>
  
  {% if page.prototype_url %}
    <p><a href="{{ page.prototype_url }}">Try it now!</a></p>
  {% endif %}

  {% if page.vimeo %}
    <h3>Demo:</h3>
    
    <div class="resp-container">
      <iframe class="resp-iframe" src="{{ page.vimeo }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  {% elsif page.demo %}
    <h3>Demo:</h3>
    <video controls>
      <source src="{{ page.demo }} " type="video/mp4">
    </video>
  {% elsif page.screenshot %}
    <img src="{{ page.screenshot }}" />
  {% endif %}

  {% if page.repo_url %}
    <div>
      <h3>Repo:</h3><a href="{{ page.repo_url }}">{{ page.repo_url }}</a>
    </div>
  {% endif %}

  {% if page.license == "MIT" or page.license == "mit" %}
    <div>
      <h3>License:</h3><a href="{{ page.repo_url }}"><img src="/images/mit-badge.svg"></a>
    </div>
  {% endif %}

  {{ content }}
</div>
<!-- Added this line to make cookie scripts available to all prototypes -->
<script type="text/javascript" src="/js/cookie.js"></script>